<div class="parallax-container">
  <div class="text-container">
    <h1>Bitventas</h1>

    <div class="mdl-grid">
      <div class="mdl-cell--6-col">{{mdl-button isRaised=true text='Productos' class="mdl-cell--6-col"}}</div>
      <div class="mdl-cell--6-col">{{mdl-button isRaised=true text='Servicios' isAccent=true class="mdl-cell--6-col"}}</div>
    </div>
  </div>
</div>

<div class="features-container">
  <h1>Caracteristicas</h1>
  <p>
    Nuestras caracteristicas son las siguientes
  </p>
  <div class="features-grid">
    <div class="mdl-grid">
      <div class="mdl-cell--4-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>

      <div class="mdl-cell--4-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>

      <div class="mdl-cell--4-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
    </div>
  </div>
</div>

<div class="products-container">
  <h2>Ultimo Productos</h2>
  <div class="product-grid">
    <div class="mdl-grid">
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
    </div>
  </div>
</div>

<div class="vision-container">
  <h1>Nuestra visión</h1>

  <div class="vision-grid">
    <div class="mdl-grid">
      <div class="mdl-cell--4-col">

      </div>
      <div class="mdl-cell--8-col">

      </div>
    </div>
  </div>
</div>

<div class="products-container">
  <h2>Ultimo Servicios</h2>
  <div class="product-grid">
    <div class="mdl-grid">
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
      <div class="mdl-cell--3-col">
        {{#mdl-card title='My card' class="mdl-cell--12-col"}}
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...

                Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris sagittis
            pellentesque lacus eleifend lacinia...
          </div>
        {{/mdl-card}}
      </div>
    </div>
  </div>
</div>

{{#footer-container}}{{/footer-container}}
